body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');

}
.color-red{color: #FF0000;}
.color-green{color: #6cbc42;}
.color-blue{color: #0080c5;}
.color-light{color: #F1EEED;}
/*NAVBAR STYLES*/
.navbar-border{border-bottom: solid 5px #0080c5;}
.namebar{
  padding-top: 15px;
  padding-bottom: 15px;

}
.login-panel {
min-width: 250px;
border-top: 14px solid #0080c5;
border-right: 1px solid #0080c5;
border-bottom-right-radius:0.5em;
-moz-border-radius-bottomright:0.5em;
border-bottom: 3px solid #0080c5;
border-left: 1px solid #0080c5;
border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

.dropdown-header { display: block !imnportant; padding-bottom: 30px; height: 10px; }
.login-header { font-size: 20px; font-weight: bold; display: inline; float: left; }
.forgot-password { font-size: 10px; display: inline; float: right; vertical-align: bottom; padding-top: 10px; }
.center-text { text-align: center; }
.left-text { text-align: left; }
.error-message { font-size: 10px; }
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
margin-bottom: 0;
border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
/* Set gray background color and 100% height */
.sidenav {
padding-top: 20px;
background-color: #f1f1f1;
height: 100%;
}
/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}
.row.content {height:auto;}
}

/*Estilo formulario registro*/
*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.3em;
}
*[role="form"] h2 {
  margin-left: 4em;
  margin-bottom: 1em;
}
#contenedorPrincipal{
  padding-top: 45px;
  padding-bottom: 65px;
  background-color: #eee;
}
